lib-cov
*.seed
*.log
*.log.*
*.dat
*.out
*.pid
*.gz
*.swp
.tmp
*.pyc
pids
results
tmp
npm-debug.log
node_modules
.DS_Store
Thumbs.db
Desktop.ini
dump
.sass-cache
.nvmrc
build/swagger-codegen
.idea
adyen-api-*
